<h1><%= @post.title %></h1>
<ul class="nav pull-right">
<li><a href="/">Home</a></li>
<li><a href="/posts/edit/<%= @post.id %>">Edit post</a></li>
<li><a href="/posts/destroy/<%= @post.id %>">Delete Post</a></li>
</ul>
<p><%= @post.body %></p>

<ul>
  <% @post.tags.each do |tag| %>
    <li><a href="/tags/<%= tag.id %>"><%= tag.title %></a></li>
  <% end %>
</ul>
